/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

*{
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body{
  font-family: "system";
  max-width: 65em;
  margin: 2rem auto;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  background-color: white;
}

img{
  max-width: 100%;
}

.masthead{

}

.project__container{

}

.project{
  margin-bottom: 9rem;
}

.project__title{

}

.project__summary{

}

/*
 PATTERN LAB CUSTOM LOGO
*/

.part{
  position: relative;
}

.nucleus{
  fill: #666;
}

.middle{
  fill: white;
}

.orbit{
  fill: #333;
}

.electron{
  fill: #ddd;
}


/*
 CRUNCHY OWL LOGO
*/

 .crunchy-hero{
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 .perch{
   fill: #b2f33c;
   margin-top: -1rem;
 }

@media screen and (min-width: 65em){

  body{
    flex-direction: row;
  }

  .masthead {
    position: fixed;
    height: 100vh;
    overflow-y: hidden;
    min-width: 35rem;
  }

  #container{
    padding-left: 3rem;
    margin-left: 35rem;
  }
}

