  <span class="crop crop--topleft"> </span>
  <span class="crop crop--topright"> </span>
  <span class="crop crop--bottomleft"> </span>
  <span class="crop crop--bottomright"> </span>

<svg class="registration" id="registration1" viewBox="-1 -1 50 50" xmlns="http://www.w3.org/2000/svg"><path style="fill:none;stroke:currentColor" d="M48 24c0 13.255-10.745 24-24 24S0 37.255 0 24 10.745 0 24 0s24 10.745 24 24Z" bx:origin="0 0"/><circle style="stroke:currentColor;fill:none" cx="24" r="12" cy="24" bx:origin="0 0.5"/><path style="stroke:currentColor" d="M24 0v48M0 24h48"/><circle style="stroke:currentColor;fill:none" cx="24" cy="24" r="6"/></svg>
<svg class="registration" id="registration2" viewBox="-1 -1 50 50" xmlns="http://www.w3.org/2000/svg"><path style="fill:none;stroke:currentColor" d="M48 24c0 13.255-10.745 24-24 24S0 37.255 0 24 10.745 0 24 0s24 10.745 24 24Z" bx:origin="0 0"/><circle style="stroke:currentColor;fill:none" cx="24" r="12" cy="24" bx:origin="0 0.5"/><path style="stroke:currentColor" d="M24 0v48M0 24h48"/><circle style="stroke:currentColor;fill:none" cx="24" cy="24" r="6"/></svg>