  <span class="crop crop--topleft"> </span>
  <span class="crop crop--topright"> </span>
  <span class="crop crop--bottomleft"> </span>
  <span class="crop crop--bottomright"> </span>

  <svg class="registration" id="registration1" viewBox="-1 -1 50 50" xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com">
    <defs></defs>
    <path style="stroke: currentColor; fill: none;" d="M 48 24 C 48 37.255 37.255 48 24 48 C 10.745 48 0 37.255 0 24 C 0 10.745 10.745 0 24 0 C 37.255 0 48 10.745 48 24 Z" style="fill: none; stroke: rgb(0, 0, 0);" bx:origin="0 0"></path>
    <circle style="stroke: currentColor; fill: none;" cx="24" r="12" cy="24" bx:origin="0 0.5"></circle>
    <line style="stroke: currentColor;" x1="24" y1="0" x2="24" y2="48"></line>
    <line style="stroke: currentColor;" x1="0" y1="24" x2="48" y2="24"></line>
    <circle style="stroke: currentColor; fill: none;" cx="24" cy="24" r="6"></circle>
  </svg>

  <svg class="registration" id="registration2" viewBox="-1 -1 50 50" xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com">
    <defs></defs>
    <path style="stroke: currentColor; fill: none;" d="M 48 24 C 48 37.255 37.255 48 24 48 C 10.745 48 0 37.255 0 24 C 0 10.745 10.745 0 24 0 C 37.255 0 48 10.745 48 24 Z" style="fill: none; stroke: rgb(0, 0, 0);" bx:origin="0 0"></path>
    <circle style="stroke: currentColor; fill: none;" cx="24" r="12" cy="24" bx:origin="0 0.5"></circle>
    <line style="stroke: currentColor;" x1="24" y1="0" x2="24" y2="48"></line>
    <line style="stroke: currentColor;" x1="0" y1="24" x2="48" y2="24"></line>
    <circle style="stroke: currentColor; fill: none;" cx="24" cy="24" r="6"></circle>
  </svg>