
<div class="book card" style="view-transition-name: book;">

  <div class="book__intro ">
    <br/>
    <small>
      🆕 NOW AVAILABLE!<br/>
    </small>
    <h3 class="card__header"><a href="https://approachableopensource.com/" target="_blank"><i>Approachable Open Source</i></a></h3>

    <picture>
      <img
      sizes="(max-width: 700px) 100vw, 700px"
      srcset="
      /img/20240926_010223_crba77_c_scale,w_190.jpg 190w,
      /img/20240926_010223_crba77_c_scale,w_698.jpg 698w,
      /img/20240926_010223_crba77_c_scale,w_700.jpg 700w"
      src="/img/20240926_010223_crba77_c_scale,w_700.jpg"
      alt="Approachable Open Source by Brian Muenzenmeyer">
    </picture>

  </div>
    

    <p>
      My brief book about <a href="/hubs/opensource/" target="_blank">the open source movement</a>!<br/>
      <blockquote>
        <em>
        “I've written this book as a new entry in the compendium of open source thought. I don't fancy myself a thought-leader and for that we are all fortunate. But it is informed by years of success and failure working with open source software. The advice is honest; the vision bold; the mandate modest.”
        </em>
      </blockquote>
    </p>

    <a href="https://approachableopensource.com/shop/" target="_blank" class="book__signup">Shop paperback, ebook, or bundled formats</a>


  </div>

</div>