
<div class="book">

  <div class="book__intro">
    {# {% include "gorilla.njk" %}  #}
    <span>
    I'm writing a book about open source software! <br/>Lemme tell you about it as I can. I'm really excited to share more soon.
    </span>
  </div>

  <form name="book" method="POST" data-netlify="true" action="/thank-you" class="book__body" netlify-honeypot="boot-field">
    <p class="hidden">
      <label>
        Don’t fill this out if you’re human: <input name="boot-field" />
      </label>
    </p>
    <p>
      <label class="book__input">Enter your email address: <input type="email" name="email" /></label>
    </p>
    <p>
      <button type="submit" class="book__signup">Sign Up</button>
    </p>
  </form>

</div>