
<div class="book">

  <div class="book__intro">
    {# {% include "gorilla.njk" %}  #}


    <p>
     🆕 NOW AVAILABLE!<br/>
     <a href="https://approachableopensource.com/" target="_blank">Approachable Open Source</a>, my brief book about <a href="/hubs/opensource/" target="_blank">the open source movement</a>!<br/>
     </p>
   
{# {% include "book-buy.njk" %} #}

    <img src="/img/20240926_010223.jpg" alt="Approachable Open Source by Brian Muenzenmeyer" /> 

    <br/>
    <a href="https://approachableopensource.com/shop/" target="_blank" class="book__signup">Shop paperback, ebook, or bundled formats</a>
    
    <p>
    <blockquote>
      <em>
       “I've written this book as a new entry in the compendium of open source thought. I don't fancy myself a thought-leader and for that we are all fortunate. But it is informed by years of success and failure working with open source software. The advice is honest; the vision bold; the mandate modest.”
      </em>
    </blockquote>
    </p>

  </div>

</div>