
<div class="book card" style="view-transition-name: book;">

  <div class="book__intro">

    <h3 class="card__header">Creator, <a href="https://gorilla.tube">Gorilla</a>     <small>
      🆕 BETA
    </small></h3>
   
    <picture> 
      <img
      src="/img/gorilla-app.png"
      alt="A screenshot of the Gorilla app">
    </picture>

  </div>

  <p>YouTube Kids as it was meant to be. With parents in control. Gorilla helps you create self-hosted websites that provide a safe, controlled environment for children to watch YouTube content. Unlike YouTube Kids, which relies on algorithms, and locks away some content at seeming random, Gorilla gives parents complete control over what their children can watch.</p>

  <a href="https://gorilla.tube" target="_blank">Learn more about Gorilla</a><br/>
  <a href="/posts/2025-introducing-gorilla">Read a behind-the-scenes blog post about building Gorilla</a><br/>
  <a href="https://youtu.be/mlGSn2cY3UI" target="_blank">Watch a demo video of Gorilla in action</a>

</div>