<div class="masthead">
  <header class="masthead__header">
      <a href="/" id="home">
      {# {% include "gorilla.njk" %} #}
      Brian Muenzenmeyer
      </a>
  </header>
  {% include "socialnav.njk" %}
</div>