---
layout: 'default.njk'
---

<nav id="item__nav">
  <a href="/">Brian Muenzenmeyer</a>
  {% include "nav.njk" %}
</nav>


<article>
  <h1>{{title}}</h1>
  <small>{{summary}}</small>
  {{ content | safe }}
</article>

<aside>

  <p>Posted: <relative-time datetime="{{ date }}">
{{ date }}
</relative-time>
  </p>
  <p>
  Tags:
  {% for tag in tags %}
    <a href="/tags/{{tag}}">{{tag}}</a>
  {%- endfor -%}
  </p>


</aside>