---
layout: 'default.njk'
---

<nav id="item__nav">
  <a href="/">Brian Muenzenmeyer</a>
  {% include "nav.njk" %}
</nav>


<article>
  <h1>{{title}}</h1>
  <small>{{summary}}</small>
  {{ content | safe }}
</article>