---
layout: 'default.njk'
---

<nav id="item__nav">
  <a href="/"><img class="avatar avatar--inline" src="https://www.gravatar.com/avatar/79024f1fe6d866159a95868721136084?s=200" alt="An image of Brian Muenzenmeyer"/>Brian Muenzenmeyer</a>
  {% include "nav.njk" %}
  <span id="item__extra">&nbsp;</span>
</nav>

<article class="article--{{type}}">
  <h1>{{title}}</h1>
  <small class="small-text">{{summary}}</small>

  <span id="item__extra">&nbsp;</span>
  {{ content | safe }}


  <aside id="item__aside">
    

    <div>
    {% if tags %}
      Tags {% for tag in tags %} <a href="/tags/{{tag}}">{{tag}}</a>{% endfor %}
    {% endif %}
    </div>

    Published <relative-time datetime="{{date}}">
      {{date}}
    </relative-time>

  </aside>

</article>
