
<div class="book card" style="view-transition-name: book;">

  <div class="book__intro">

    <h3 class="card__header">Maintainer, nodejs.org</h3>
   
    <picture>
      <img
      sizes="(max-width: 700px) 100vw, 700px"
      srcset="
      /img/2025-nodejsorg_m8ztrt_c_scale,w_190.jpg 190w,
      /img/2025-nodejsorg_m8ztrt_c_scale,w_700.jpg 700w"
      src="/img/2025-nodejsorg_m8ztrt_c_scale,w_700.jpg"
      alt="The nodejs.org homepage">
    </picture>

  </div>

  <p>
  <blockquote>
    <em>
      “It's been exciting maintaining to the nodejs.org website. It's an intersection of technology, legacy choices, market forces, language, and people. Playing part-engineer, part-traffic cop through it all is rewarding and humbling.”
    </em>
  </blockquote>
  </p>

    <a href="https://nodejs.org/en/blog/announcements/diving-into-the-nodejs-website-redesign" target="_blank">Read the blog post about our redesign</a><br/>
    <a href="https://www.youtube.com/watch?v=hRxSvDbvnaI" target="_blank">Watch a talk I gave about it</a>

</div>