---
layout: 'item.njk'
type: 'post'
---

{{ content | safe }}

<aside>

  <p>Posted: <relative-time datetime="{{ date }}">
{{ date }}
</relative-time>
  </p>
  <p>
  Tags:
  {% for tag in tags %}
    <a href="/tags/{{tag}}">{{tag}}</a>
  {%- endfor -%}
  </p>

</aside>