<nav class="nav">
    <ul>
        <li>
          {% ai "https://github.com/bmuenzenmeyer"%}GitHub{% endai %}  
        </li>
        <li>
          {% ai "https://bsky.app/profile/brianmuenzenmeyer.com"%}Bluesky{% endai %}
        </li>
        <li>
          {% ai "https://www.linkedin.com/in/brian-muenzenmeyer-91a77554/"%}LinkedIn{% endai %}
        </li>
    </ul>
</nav>