<nav class="nav">
    <ul>
        <li><a href="https://github.com/bmuenzenmeyer">GitHub</a></li>
        <li><a href="https://twitter.com/bmuenzenmeyer">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/brian-muenzenmeyer-91a77554/">LinkedIn</a></li>
    </ul>
</nav>