<nav class="nav">
    <ul>
        <li><a href="https://github.com/bmuenzenmeyer">github</a></li>
        <li><a href="https://twitter.com/bmuenzenmeyer">twitter</a></li>
        <li><a href="https://www.linkedin.com/in/brian-muenzenmeyer-91a77554/">linkedin</a></li>
        <li><a href="/arcade">👾 arcade</a></li>
    </ul>
</nav>