---
layout: default.njk
---

{% include "homelink.njk" %}
<div id="job">lead front end engineer</div>
<div id="coffee">when not online, I am trying to find my ☕</div>
{% for item in collections.words %}
    <a href="{{item.data.permalink}}">
        {{item.data.title}}
    </a>
{% endfor %}