<header class="masthead grid">
  {{> nameinlights }}
  <div class="item"></div>
  <div class="item"></div>
  <div class="item item--grow" id="logo">  
    {{> gorilla }}
  </div>
  <div class="item"></div>
  <div class="item"></div>

  <div class="item"><a href="https://github.com/bmuenzenmeyer">github</a></div>
  <div class="item"><a href="https://twitter.com/bmuenzenmeyer">twitter</a></div>
  <div class="item"><a href="https://www.linkedin.com/in/brian-muenzenmeyer-91a77554/">linkedin</a></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
</header>
{{!-- <nav class="nav">
  <a href="/archive.html">all articles</a>
  <a href="/about.html">about me</a>
  <a href="https://twitter.com/bmuenzenmeyer">twitter</a>
  <a href="https://github.com/bmuenzenmeyer">github</a>
  <a href="http://codepen.io/bmuenzenmeyer/">codepen</a>
  <a href="mailto:brian.muenzenmeyer@gmail.com">email</a>
</nav> --}}
