{% include "homelink.njk" %}
<div><a href="https://github.com/bmuenzenmeyer">github</a></div>
<div><a href="https://twitter.com/bmuenzenmeyer">twitter</a></div>
<div><a href="https://www.linkedin.com/in/brian-muenzenmeyer-91a77554/">linkedin</a></div>
