
<a href="http://www.crunchyowl.com" class="crunchy-hero"><img src="http://www.brianmuenzenmeyer.com/img/owl.png" alt="My small design studio, Crunchy Owl"/></a>

<div class="bg-green" style="z-index: 2; position: relative;">

  <p class="align-center affordance-inner">Crunchy Owl is my small web design and development shop. I hand-craft effective &amp; performant digital experiences.</p>

</div>

<svg class="separator chevron3" xmlns="http://www.w3.org/2000/svg" version="1.1" width="80%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
  <path id="rayPath1" d="M0 0 L50 100 L100 0 Z"></path>
</svg>
