<div class="fullbleed striped">&nbsp;</div>
<footer class="bg-gray fullbleed">
  <section>

    <div class="bio">

      <img src="http://www.brianmuenzenmeyer.com/img/brian.jpg" alt="A picture of me in grey." class="bio_img"/>
      <p class="bio_about">Hi hi, I'm Brian. I maintain <a href="https://github.com/pattern-lab/patternlab-node">Pattern Lab Node</a> and moonlight at <a href="http://crunchyowl.com">Crunchy Owl</a>, my small studio. When not online, I am digging up the yard, wearing an afghan, talking about something I heard on public radio, dressing in grayscale, or pretending to play the piano.</p>
      <p class="bio_about">The best way to reach me is on Twitter <a href="https://twitter.com/bmuenzenmeyer">@bmuenzenmeyer</a>.</p>
    </div>

    <div class="buttons buttons-capped buttons-social">
  <a href="https://twitter.com/bmuenzenmeyer">Twitter</a>
  <a href="https://github.com/bmuenzenmeyer">Github</a>
  <a href="http://codepen.io/bmuenzenmeyer/">Codepen</a>
  <a href="mailto:brian.muenzenmeyer@gmail.com">Email</a>
</div>


    <div>
  <blockquote class="contrasted">Above all, I have been a sentient being, a thinking animal, on this beautiful planet, and that in itself has been an enormous privilege and adventure. <cite><a href="http://mobile.nytimes.com/2015/02/19/opinion/oliver-sacks-on-learning-he-has-terminal-cancer.html">Oliver Sacks</a></cite></blockquote>
</div>


    <p><small>Be kind. Share things you find here in source or on screen. Words CC BY 4.0 Code WTFPL. Typeset in <a href="http://overpassfont.org/">Overpass</a> </small></p>
  </section>

</footer>
