  <article class="half padded">
    <h4 class="alt">Web Development</h4>
    <p>I deliver quality code with an eye towards standards compliance and industry best practices. Responsive design principles extend from time-honored standards compliance and progressive enhancement. Sign me up for some of that! In a world of cut and paste snippets, WYSIWYG editors, and tight timelines, some of us still write code by hand, testing diligently and with little regard for sunrise.</p>
  </article>

  <article class="half padded">
    <h4 class="alt">UX &amp; UI Design</h4>
    <p>Communicate effective messages to your audience. Crafting a functional product often starts with a deep dive into your needs and the needs of your users. From this input, Crunchy Owl can dial in and iterate quickly on a solution. Let's not forget to make it strikingly beautiful too.</p>
  </article>

  <div class="cf"></div>

  <article class="half padded">
    <h4 class="alt">Performance Optimization</h4>
    <p>Speed matters, but performance is more than that. Performance is content meets execution, and I can help you push your codebase further, directly equating to more engagement. Understanding delivery options is key to an inclusive experience. Push the limits of deployment and send what matters most.</p>
  </article>

  <article class="half padded">  
    <h4 class="alt">Content Strategy</h4>
    <p>With a proper content strategy, your message has a broader voice in the community, has more impact, and builds your brand. Creating reusable content to leverage social media is a must in today's environment. I fit right-sized solutions to the right requirements, offering full-stack solutions when necessary, or a handcrafted microsite when the need arises.</p>
  </article>
</section>