<div class="buttons">
  <a href="https://twitter.com/bmuenzenmeyer"><i class="fa fa-twitter"></i> Twitter</a> 
  <a href="mailto:brian.muenzenmeyer@gmail.com"><i class="fa fa-envelope"></i> Email</a> 
  <a href="https://github.com/bmuenzenmeyer"><i class="fa fa-github"></i> Github</a> 
  <a href="http://codepen.io/bmuenzenmeyer/"><i class="fa fa-codepen"></i> Codepen</a>
</div><img src="/img/brian.jpg" alt="A picture of me in grey." class="bio"/>

<p>I spend my working days in ux/ui design and my waking nights maintaining the <a href="https://github.com/pattern-lab/patternlab-node">node port</a> of Brad Frost and Dave Molsen’s Pattern Lab and moonlighting as <a href="http://crunchyowl.com">Crunchy Owl</a>, a small studio. I am interested in the intersection of performance and responsive design to craft better things that reach more people. I live in Northeast Wisconsin with my wife, young son, 2 cats and 3 coffee makers. When not online, I am digging up the yard, wearing an afghan, talking about something I heard on public radio, dressing in grayscale, or pretending to play the piano. The best way to reach me is on Twitter <a href="https://twitter.com/bmuenzenmeyer">@bmuenzenmeyer</a>.</p>

<hr class="cf"/>

<div class="align-center">
  <blockquote>&ldquo;Above all, I have been a sentient being, a thinking animal, on this beautiful planet, and that in itself has been an enormous privilege and adventure.&rdquo; <cite><a href="http://mobile.nytimes.com/2015/02/19/opinion/oliver-sacks-on-learning-he-has-terminal-cancer.html">Oliver Sacks</a></cite></blockquote>  
</div>