:root {
  --darkblue: #395177;
  --blue: #031636;
  --softwhite: #ddd;
}

html {
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#home svg {
  height: 2rem;
}

/* COLOR PREFERENCE */
body {
  font-size: 18px;
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--darkblue);
    color: var(--softwhite);
  }

  a {
    color: var(--blue);
  }

  a:visited {
    color: var(--softwhite);
  }

  a:hover,
  a:focus {
    color: var(--softwhite);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: var(--softwhite);
    color: #222;
  }

  a {
    color: #222;
  }

  a:visited {
    color: var(--darkblue);
  }

  a:hover,
  a:focus {
    color: var(--blue);
  }
}

/* TYPOGRAPHY */

@media (min-width: 38rem) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 100;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.5rem;
  }
}

@media (min-width: 60rem) {
  body {
    font-size: 24px;
  }
}

/* GLOBAL */

p {
  line-height: 1.5;
}

img {
  max-width: 100%;
}

aside,
blockquote {
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0;
  padding: 1rem;
}

/* LAYOUT */

@media (min-width: 55rem) {
  main,
  .masthead {
    margin-left: auto;
    margin-right: auto;
  }
}

.container {
  display: grid;
  margin: 0.5rem;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

@media (min-width: 55rem) {
  article {
    display: grid;
    grid-template-columns: 1fr 10% 60ch 10% 1fr;
  }
  aside {
    width: 60ch;
    margin-left: auto;
    margin-right: auto;
  }
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

@media (min-width: 38rem) {
  #home {
    flex-direction: row;
  }
  #home svg {
    margin-right: 0.5rem;
  }
}

/* MASTHEAD / NAV */

.masthead {
  max-width: 60ch;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.nav {
  width: 100%;
}

.nav ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.nav li {
  list-style: none;
}

@media (min-width: 38rem) {
  .nav ul {
    flex-direction: row;
  }
  .nav li {
    padding-right: 0.25rem;
  }
}

/* ARTICLE */

@media (min-width: 38rem) {
  article > * {
    grid-column: 3 / 4;
  }

  article > img,
  article > picture,
  article > div {
    grid-column: 2 / 5;
    margin-left: auto;
    margin-right: auto;
  }

  article > div.cp_embed_wrapper {
    margin-left: unset;
    margin-right: unset;
  }
}

/* HOME */

/* LISTS */

.collection {
}

.collection li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* FOOTER */

.footer {
  margin-top: 8rem;
}

.footer__container,
.footer__bio,
.footer__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__fact {
  margin-bottom: 1rem;
}

@media (min-width: 45rem) {
  .footer__container {
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__container,
  .footer__bio {
    flex-direction: row;
  }
  .footer__container {
    justify-content: space-between;
  }

  .footer__intro {
    margin-left: 0.5rem;
    align-items: flex-start;
  }

  .footer__bio {
    flex-grow: 1;
  }

  .footer__colophon {
    margin-left: auto;
    max-width: 600px;
    padding-left: 1rem;
  }
}

.footer__avatar {
  width: 100px;
  aspect-ratio: 1;
  max-width: 100%;
  clip-path: circle(50px at center);
  padding: 1rem;
}

@media (min-width: 45rem) {
  h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.version-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 45rem) {
  .version-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  border: 1px solid #222;
  padding: 0.5rem;
}

.card__header {
  display: flex;
  justify-content: space-between;
}

.card__image {
  width: 100%;
}

/** CSS IS AWESOME **/

:root {
  --border-size: 4px;
}

[data-theme] {
  background-color: var(--bg, white);
  color: var(--text, black);
  border-color: var(--border-color, black);
}

.masthead__header {
  display: flex;
  width: var(--size, 118px);
  height: var(--size, 118px);
  border-color: var(--border-color);
  border-style: solid;
  overflow-x: show;
}

.masthead #home {
  margin: 0;
  font-size: var(--font-size, 48px);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

@media only screen and (min-width: 55rem) {
  .masthead__header {
    --size: 158px;
  }

  .masthead #home {
    --font-size: 64px;
  }
}

@media only screen and (min-width: 85rem) {
  .masthead__header {
    --size: 316px;
  }

  .masthead #home {
    --font-size: 128px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --bg: black;
  }

  [data-theme="dark"] {
    --bg: black;
    --border-color: var(--softwhite);
    --text: var(--softwhite);
  }
}
