:root {
  --darkblue: #395177;
  --blue: #031636;
  --softwhite: #eee;

  --block-color: #222;

  --theme-blue: #00649b;
  --theme-yellow: #e5b360;
  --theme-orange: #b26722;
  --theme-red: #9e421d;
  --theme-green: #50633b;
  --theme-grey: #c1c1c1;
  --theme-black: #171619;

  --theme-color: #c1c1c1;

  --size-300: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
  --size-400: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
  --size-500: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  --size-600: clamp(1.37rem, 1.21rem + 0.8vw, 1.618rem);
  --size-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.618rem);
  --size-800: clamp(2.14rem, 1.74rem + 1.99vw, 4.236rem);
  --size-900: clamp(2.67rem, 2.07rem + 3vw, 6.854rem);
  --size-1000: clamp(3.34rem, 2.45rem + 5.43vw, 11.089rem);
}

.black,
.black * {
  color: var(--theme-black) !important;
}

.white {
  color: var(--softwhite);
}

html {
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#home svg {
  height: 2rem;
}

body {
  font-size: 18px;
  margin: 0;
  background-color: var(--softwhite);
}

main {
  margin: 0.5rem;
}

/* COLOR PREFERENCE */

@media (prefers-color-scheme: dark) {
  :root {
    --theme-color: #171619;
  }

  body {
  }

  a {
  }

  a:visited {
  }

  a:hover,
  a:focus {
  }
}

@media (prefers-color-scheme: light) {
  :root {
  }

  body {
  }

  a {
  }

  a:visited {
  }

  a:hover,
  a:focus {
  }
}

/* TYPOGRAPHY */

@media (min-width: 38rem) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 100;
    color: var(--theme-color);
  }

  h1 {
    font-size: var(--size-1000);
  }

  h2 {
    font-size: var(--size-800);
  }

  h3 {
    font-size: var(--size-700);
  }

  h4 {
    font-size: var(--size-600);
  }

  h5 {
    font-size: var(--size-500);
  }
}

@media (min-width: 60rem) {
  body {
    font-size: 24px;
  }
}

/* GLOBAL */

p {
  line-height: 1.5;
}

img {
  max-width: 100%;
}

pre {
  overflow-x: auto;
  padding: 1rem;
  border: 3px solid var(--softwhite);
}

aside,
blockquote {
  border-top: solid 1px var(--theme-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem;
}

/* LAYOUT */

@media (min-width: 55rem) {
  main,
  .masthead {
    margin-left: auto;
    margin-right: auto;
  }
}

.registration {
  display: none;
}

@media (min-width: 55rem) {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr 60ch 1fr 1fr;
  }
  aside {
    width: 60ch;
    margin-left: auto;
    margin-right: auto;
  }

  .crop {
    border-color: var(--theme-black);
    border-width: 2px;
    border-style: solid;
    width: 3rem;
    height: 3rem;
  }

  .crop--topleft {
    grid-column: 1 / 1;
    grid-row-start: 1;
    border-left: none;
    border-top: none;
    justify-self: flex-end;
  }

  .crop--topright {
    grid-column: 5 / 5;
    grid-row-start: 1;
    border-right: none;
    border-top: none;
  }

  .crop--bottomleft {
    grid-column: 1 / 1;
    border-left: none;
    border-bottom: none;
    justify-self: flex-end;
  }

  .crop--bottomright {
    grid-column: 5 / 5;
    border-right: none;
    border-bottom: none;
  }
  .registration {
    display: block;
    width: 50px;
    grid-column: 5/5;
    grid-row: 1/2;
    margin-left: 4rem;
  }

  #registration1 {
  }

  #registration2 {
    stroke: var(--theme-color);
    color: var(--theme-color);
    position: relative;
    top: 2px;
    right: 4px;
  }
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 38rem) {
  #home {
    flex-direction: row;
  }
  #home svg {
    margin-right: 0.5rem;
  }
}

/* MASTHEAD / NAV */

.masthead {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column-reverse;
  padding-top: 3rem;
  padding-bottom: 6rem;
  background-color: var(--softwhite);
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(238, 238, 238, 1) 100%
    ),
    paint(fleck);
  --fleck-colors: var(--theme-color);
  --fleck-seed: 123;
}

.masthead__header {
}

.masthead__word {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.masthead__letter {
  text-align: center;
  transform: scale(-1, 1);
  padding: 0.25rem 0.5rem;
  margin: 0.15rem;
  background-color: var(--block-color);
  background-image: url(/img/retina_wood.avif);
  color: var(--theme-color);
}

.masthead__header a {
  text-decoration: none;
}

.swatches {
  text-align: right;
}

.swatch {
  border: 1px solid var(--softwhite);
  background-color: currentColor;
  min-width: 50px;
}

.swatch--blue {
  color: var(--theme-blue);
}
.swatch--yellow {
  color: var(--theme-yellow);
}
.swatch--orange {
  color: var(--theme-orange);
}
.swatch--red {
  color: var(--theme-red);
}
.swatch--green {
  color: var(--theme-green);
}
.swatch--grey {
  color: var(--theme-grey);
}
.swatch--black {
  color: var(--theme-black);
}

.nav {
  width: 100%;
}

.nav ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.nav li {
  list-style: none;
}

@media (min-width: 38rem) {
  .nav ul {
    flex-direction: row;
  }
  .nav li {
    padding-right: 0.25rem;
  }
}

/* ARTICLE */

@media (min-width: 38rem) {
  article > * {
    grid-column: 3 / 4;
  }

  article > img,
  article > picture,
  article > div {
    grid-column: 2 / 5;
    margin-left: auto;
    margin-right: auto;
  }

  article > div.cp_embed_wrapper {
    margin-left: unset;
    margin-right: unset;
  }
}

/* HOME */

/* LISTS */

.collection {
  margin-left: 0;
  padding-left: 0;
}

.collection__item {
  list-style-type: none;
}

.collection__article {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  padding: 1rem 0.5rem;
  color: white;
  background-color: var(--theme-color, --theme-grey);
}

.collection__article--top {
  margin-top: 3rem; /*registration height*/
}

@media screen and (min-width: 55rem) {
  .collection__article {
    padding: 2rem 3rem;
  }
}

.collection__title {
  display: block;
  font-size: var(--size-700);
}

.collection__summary {
  display: block;
  font-style: italic;
}

.collection__tags {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-left: 0;
}

.pull--left {
  margin-right: auto;
}

.collection__tags li {
  list-style-type: none;
  margin-left: 0.25rem;
}

.collection a {
  color: white;
}

/* WALL */
.wall {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
}

.wall--fullbleed {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wall__image {
  max-width: 100%;
}

.wall__link {
  text-decoration: none;
}

.wall__image,
.wall__caption {
  grid-column: 1;
  grid-row: 1;
}

.wall__caption {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1vw;
  text-align: center;
  align-self: center;
  font-size: 7vw;
}

/* FOOTER */

.footer {
  margin-top: 8rem;
  margin-bottom: 3rem;
}

.footer__container,
.footer__bio,
.footer__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__fact {
  margin-bottom: 1rem;
}

@media (min-width: 45rem) {
  .footer__container {
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__container,
  .footer__bio {
    flex-direction: row;
  }
  .footer__container {
    justify-content: space-between;
  }

  .footer__intro {
    margin-left: 0.5rem;
    align-items: flex-start;
  }

  .footer__bio {
    flex-grow: 1;
  }

  .footer__colophon {
    margin-left: auto;
    max-width: 600px;
    padding-left: 1rem;
  }
}

.footer__avatar {
  width: 100px;
  aspect-ratio: 1;
  max-width: 100%;
  clip-path: circle(50px at center);
  padding: 1rem;
}

@media (min-width: 45rem) {
  h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.split-list {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 45rem) {
  .split-list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}

.card {
  border: 1px solid #222;
  padding: 0.5rem;
}

.card__header {
  display: flex;
  justify-content: space-between;
}

.card__image {
  width: 100%;
}

.cage {
  display: flex;
  width: 100%;
}

.cage .heart {
  width: 30px;
  margin: 1.5rem 0.25rem 0 0;
}
