:root {
}

html,
button {
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#home svg {
}

body {
  font-size: 18px;
  margin: 0;
  background-color: var(--softwhite);
}

main {
}

figure {
  margin: 0;
}

.hidden {
  display: none;
}

/* VIEW TRANSITIONS */

@view-transition {
  navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: fade 0.3s ease both;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* COLOR PREFERENCE */

@media (prefers-color-scheme: dark) {
  :root {
    --navlink-color: white;
  }

  body {
  }

  a {
  }

  a:visited {
  }

  a:hover,
  a:focus {
  }

  .collection__article {
  }

  .collection a {
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --navlink-color: #0066cc;
  }

  body {
  }

  a {
  }

  a:visited {
  }

  a:hover,
  a:focus {
  }

  .collection__article {
  }
}

/* TYPOGRAPHY */

@media (min-width: 38rem) {
  h1,
  h2,
  h3,
  h4,
  h5 {
  }

  h1 {
  }

  h2 {
  }

  h3 {
  }

  h4 {
  }

  h5 {
  }
}

@media (min-width: 60rem) {
  body {
  }
}

/* GLOBAL */

p {
}

img {
  max-width: 100%;
}

pre {
}

table {
}

th,
td {
}

aside,
blockquote {
}

article blockquote {
}

/* LAYOUT */


/* MASTHEAD / NAV */

.masthead {
  display: grid;
  grid-template-rows: 100px 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

#masthead__name {
  grid-row: 1;
  grid-column: 1 / span 2;
}

#masthead__nav {
  grid-row: 4;
  grid-column: 1;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-right: 1rem;

  a {
    color: var(--navlink-color);
    text-decoration: none;
    font-weight: bold;
  }
}

#masthead__name {
}

@media (min-width: 38em) {

  #masthead__nav {
    grid-row: 2;
    grid-column: 2;
    justify-self: end;
    flex-direction: column;
  }

  #masthead__name {
    grid-row: 1;
    grid-column: 1;
    margin: 1rem;
    
  }
}

#masthead__hero {
  grid-row: 1 / span 3;
  grid-column: 1 / span 3;
  z-index: -1;
  img { 
    width: 100%;
    height: auto;  
  }
}

@media (min-width: 50rem) {
  .nav ul {
  }
  .nav li {
  }
}

/* ARTICLE */

#item__nav {
}

#item__extra {
}

article h1 + small {
}

@media (min-width: 38rem) {
  article > * {
  }

  article > img,
  article > picture,
  article > div {
  }

  article > div.cp_embed_wrapper {
  }

  #item__nav {
  }
}

.article--timeline ul {
}

.article--timeline ul li {
}

.article--timeline ul li > * {
}

/* make a little circle at each li */
.article--timeline ul li::before {
}

.chip {
}

.chip--hot {
}

.article--timeline .date {
}

.date,
.small-text {
}

/* HOME */

/* LISTS */

.collection {
}

.collection__item {
}

.collection__item:nth-child(even) .collection__article,
.s {
}

.collection__item:nth-child(odd) .collection__article {
}

.collection__article {
}

.collection__article--top {
}

@media screen and (min-width: 55rem) {
  .collection__article {
  }
}

.collection__title {
}

.collection__summary {
}

.collection__tags {
}

.pull--left {
}

.collection__tags li,
.tag__link {
}

/* WALL */
.wall {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
}

.wall--fullbleed {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wall__image {
  max-width: 100%;
}

.wall__link {
  text-decoration: none;
}

.wall__image,
.wall__caption {
  grid-column: 1;
  grid-row: 1;
}

.wall__caption {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1vw;
  text-align: center;
  align-self: center;
  font-size: 7vw;
}

/* FOOTER */

.footer {
}

.footer__container,
.footer__bio,
.footer__intro {
}

.footer__container,
.footer__colophon,
.footer__bio {
}

.footer__fact {
}

@media (min-width: 45rem) {
  .footer__container,
  #home__about {
  }
  .footer__container,
  .footer__bio {
  }
  .footer__container {
  }

  .footer__intro {
  }

  .footer__bio {
  }

  .footer__colophon {
  }
}

.avatar {
}

.avatar--inline {
}

.footer__avatar {
}

@media (min-width: 45rem) {
  h2 {
  }
}

.split-list {
}

@media (min-width: 45rem) {
  .split-list {
  }
}

.card {
}

.card__header {
}

.card__name {
}

.card__image {
}

.cage {
}

.cage .heart {
}

.book {
}

.book blockquote {
}

.book__intro {
}

.book__input {
}

.book__input input {
}

.book__signup {
}

.book__signup:hover {
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 1rem;
  overflow-x: scroll;
}

.logos img {
  /* aspect-ratio: 1; */
  padding: 0.1rem;
  margin: 0.1rem;
}

.logos ~ table {
  text-align: center;
  overflow-x: scroll;
}

/* stripe the table rows */
.logos ~ table tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.logo-solo {
  margin: 1rem auto;
}

.rounded-all {
  border-radius: var(--radius);
}

/* Masonry Layout */
.masonry {
  column-count: 1;
  column-gap: 1rem;
  margin: 2rem 0;
}

@media (min-width: 640px) {
  .masonry {
    column-count: 2;
  }
}

@media (min-width: 1024px) {
  .masonry {
    column-count: 3;
  }
}

.masonry img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  break-inside: avoid;
  border-radius: var(--radius);
  display: block;
}
