<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="css/main.css">
  <title>{% if page.comments %} {{ page.title }} || Brian Muenzenmeyer {% else %} {{ page.title }} {% endif %} </title>
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><script src="js/respond.min.js"></script><![endif]-->
  <script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Lato:300,400']
      }
    });
  </script>
  <style>
    body{
      font-family:  Arial, Tahoma, sans-serif;
    }
    .wf-active body{
      font-family: 'Lato', Arial, Tahoma, sans-serif;
    }
  </style>
</head>
<body>
<div class="site">
  <header class="masthead">
    <h1>Brian Muenzenmeyer</h1>
  </header>
  <div role="main">
    {{ content }}
  </div>
</div>
<script>
    //Please change this if you fork the repo!
    var _gaq=[['_setAccount',''],['_setDomainName', 'bmuenzenmeyer.com'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>