---
layout: 'item.njk'

title: "Arcade"
permalink: /arcade/index.html
date: 2020-08-27
tags: ["project"]
author: Brian Muenzenmeyer
twitter: bmuenzenmeyer
class: ""
summary: "Made for Megan's birthday, 2020"
customCSS: "arcade"
comments: false
games:
  - name: Tot Drop
    url: /tot-drop
    img: /img/totdrop.png
  - name: billiards
    url: https://cdpn.io/bmuenzenmeyer/debug/RwRoxer
    img: /img/billiards.png
  - name: chip's challenge
    url: https://archive.org/details/chips_challenge_windows_3.x
    img: /img/chip.png
  - name: doom
    url: https://archive.org/details/DoomsharewareEpisode
    img: /img/doom.png
  - name: fuji golf
    url: https://archive.org/details/win31_festival_FUJIGOLF
    img: /img/fuji.png
  - name: free cell
    url: https://archive.org/details/win3_FreeCell
    img: /img/freecell.png
  - name: hocus pocus
    url: https://archive.org/details/HocusPocus
    img: /img/hocus.png
  - name: i will stand
    url: https://cdpn.io/bmuenzenmeyer/debug/mdEOpzP
    img: /img/stand.png
  - name: incredible machine
    url: https://archive.org/details/the_incredible_machine_1992
    img: /img/machine.png
  - name: minesweeper
    url: https://archive.org/details/win3_Mineswee
    img: /img/mine.png
  - name: oregon trail
    url: https://archive.org/details/msdos_Oregon_Trail_Deluxe_The_1992
    img: /img/oregon.png
  - name: pinball dreams
    url: https://archive.org/details/msdos_Pinball_Dreams_1992
    img: /img/p1.png
  - name: pinball dreams 2
    url: https://archive.org/details/msdos_Pinball_Dreams_II_1994
    img: /img/p2.png
  - name: pipedream
    url: https://archive.org/details/win3_PipeDr3x
    img: /img/pipe.png
  - name: rattler race
    url: https://archive.org/details/win3_RattlerR
    img: /img/rattler.png
  - name: rodents revenge
    url: https://archive.org/details/rodents_revenge
    img: /img/rodent.png
  - name: ski free
    url: https://archive.org/details/win3_SKIFREE
    img: /img/ski.png
---

<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />


<h2>Arcade</h2>
<main>

{% for game in games %}

<div class="game">
    <h3><a href="{{game.url}}">{{game.name}}</a></h3>
    <a href="{{game.url}}"><img src="{{game.img}}" alt="{{game.name}}" /></a>
</div>
{% endfor %}
</main>
