---
layout: item.njk
title: Blog
type: hub
---

<div class="card-deck card-deck--posts">
  {%- for page in collections.post | reverse | limit(10)  -%}

  <div class="card">

    <h3 class="card__header">
      <a class="collection__title" href="{{ page.url | url }}">{{ page.data.title }}</a>
    </h3>
      
    <p class="collection__summary">{{ page.data.summary }}</p>

    <relative-time datetime="{{ page.data.date }}">
      {{ page.data.date }}
    </relative-time>

  </div>

  {%- endfor -%}
</div>


<a class="button" href="/archive/">All Posts</a>
