---
layout: item.njk
title: Book
---

<article>

  {% include "bookpromo.njk" %}

  <h2>Status</h2>

  <p>Curious to know where we are in the process?</p>

  <ul>
    <li>✅ Proposal Written</li>
    <li>✅ Pitch Accepted</li>
    <li>✅ Draft Complete</li>
    <li>✅ Editing Round 1</li>
    <li>✅ Editing Round 2</li>
    <li>✅ Editing Round 3</li>
    <li>🛑 <a href="https://brianmuenzenmeyer.com/posts/2024-open-source-open-doors/">ABA ceases new works</a>
  </ul>

</article>

<aside>
  <h2>All posts related to the book</h2>

  <nav>
    <ul class="collection">
      {%- for page in collections.book | reverse  -%}
        <li class="collection__item">
          <div class="collection__article">
            <a class="collection__title" href="{{ page.url | url }}">{{ page.data.title }}</a>
            <p class="collection__summary">{{ page.data.summary }}</p>
            <ul class="collection__tags">
              <li class="pull--left">
              <relative-time datetime="{{ page.data.date }}">
              {{ page.data.date }}
              </relative-time>
              </li>
            {% for tag in page.data.tags %}
              <li>
              <a href="/tags/{{tag}}">{{tag}}</a>
              </li>
            {%- endfor -%}
            </ul>
          </div>
        </li>
      {%- endfor -%}

      {% for tag in tags %}
        <li class="black tag__link">All posts tagged <a href="/tags/{{tag.name}}">{{tag.name | toHumanUrl }}</a></li>
      {% endfor %}

    </ul>
  </nav>

</aside>
