<img src="/img/dither-dist/54901754654_dee33ea2cf_o_ejip6b_c_scale,w_1400-atkinson.png"/>
<img src="/img/dither-dist/54901754654_dee33ea2cf_o_ejip6b_c_scale,w_1400-bayer-4x2.png"/>
<img src="/img/dither-dist/54901754654_dee33ea2cf_o_ejip6b_c_scale,w_1400-bayer-8x3.png"/>
<img src="/img/dither-dist/54901754654_dee33ea2cf_o_ejip6b_c_scale,w_1400-burkes.png"/>
<img src="/img/dither-dist/54901754654_dee33ea2cf_o_ejip6b_c_scale,w_1400-diffusion.png"/>
