---
layout: item.njk
title: Hubs
permalink: /hubs/index.html
---

<article>

    <section>

      <header>Collections of things I have affinities for.</header>

      <nav>
        <ul class="collection">

          <li class="collection__item">
            <div class="collection__article">
              <a class="collection__title" href="/hubs/opensource">Open Source</a>
              <p class="collection__summary">A 15 year passion.</p>
            </div>
          </li>

          <li class="collection__item">
            <div class="collection__article">
              <a class="collection__title" href="/hubs/starwars">Star Wars</a>
              <p class="collection__summary">I've got a bad feeling about this.</p>
            </div>
          </li>


          <li class="collection__item">
            <div class="collection__article">
              <a class="collection__title" href="/hubs/projects">Projects</a>
              <p class="collection__summary">Things Created</p>
            </div>
          </li>
          
        </ul>
      </nav>
    </section>

  </div>

</article>