---
layout: default.njk
---

<article>

  <div class="split-list">

    <section>

      <h2>Articles</h2>

      <nav>
        <ul class="collection">
          {%- for page in content -%}
            <li class="collection__item">
              <div class="collection__article">
                <a class="collection__title" href="{{ page.url | url }}">{{ page.name }}</a>
                <p class="collection__summary">{{ page.PANTOGRAPH_summary }}</p>
                <ul class="collection__tags">
                  <li class="pull--left">
                  <relative-time datetime="{{ page.PANTOGRAPH_date }}T12:00:00-06:00">
                  {{ page.PANTOGRAPH_date }}
                  </relative-time>
                  </li>
                {% for tag in page.tags %}
                  <li>
                  <a href="/tags/{{tag}}">{{tag}}</a>
                  </li>
                {%- endfor -%}
                </ul>
              </div>
            </li>
          {%- endfor -%}

          {% for tag in tags %}
            <li class="black">All posts tagged <a href="/tags/{{tag.name}}">{{tag.name | toHumanUrl }}</a></li>
          {% endfor %}

        </ul>
      </nav>

    </section>

    <section>

      <h2>Projects</h2>

      <nav>
        <ul class="collection">

          <li class="collection__item">
            <div class="collection__article">
              <a class="collection__title" href="/tags/boythisishard/">Boy, This Is Hard</a>
              <div class="cage">
                <!-- it's dangerous to go alone -->
                {% include "heart.njk" %}
                {% include "heart.njk" %}
                {% include "heart.njk" %}
                {% include "heart.njk" %}
                {% include "heart.njk" %}
                {% include "heart.njk" %}
                {% include "heart.njk" %}
              </div>
              <p class="collection__summary">It's dangerous to go alone! A series of short essays on topics my boys may someday find interesting.</p>
              Started <relative-time datetime="2021-06023T12:00:00-06:00">
              Jun 23, 2021
              </relative-time>
            </div>
          </li>
          
        </ul>
      </nav>
    </section>

  </div>

  {% for card in home %}
  <section>
    <h2>{{ card.name }}</h2>
    <div>
    {% markdown %}
      {{- card.desc | safe }}
    {% endmarkdown %}
    </div>
  </section>
  {% endfor %}

  {% include "berelwouldbeproud.njk" %}

</article>