---
layout: default.njk
---

<header class="masthead">
  <figure id="masthead__img">
    <picture>
      <img
        sizes="(max-width: 1400px) 100vw, 1400px"
        srcset="/img/Brian-Fall_c8p33m_c_scale,w_200.jpg 200w,
        /img/Brian-Fall_c8p33m_c_scale,w_627.jpg 627w,
        /img/Brian-Fall_c8p33m_c_scale,w_929.jpg 929w,
        /img/Brian-Fall_c8p33m_c_scale,w_1176.jpg 1176w,
        /img/Brian-Fall_c8p33m_c_scale,w_1400.jpg 1400w"
        src="/img/Brian-Fall_c8p33m_c_scale,w_1400.jpg"
        alt="A portrait of Brian Muenzenmeyer. Brian is a 30-somthing bald white man wearing a plaid shirt, grey glasses, and a five o'lock shadow. Photo taken by Samantha Brinda Photography."
        >
      </picture>
    <figcaption><small>Photo credit <a href="https://www.samanthabrindaphotography.com/">Samantha Brinda</a></small></figcaption>
  </figure>

  <div id="masthead__intro">
    {% include "bookpromo.njk" %} 

    <h2>About</h2>
    <p>Brian lives in Chanhassen, Minnesota but hails from Manitowoc, where it was always cooler by the lake and is now a fantastic ice-breaker at parties. He has four boys that keep him bald. He does a little of everything. Sometimes that’s called being a unicorn 🦄, duck 🦆, or a jack-of-all-trades 🧰, but he likes to land on the Seussical-form—Sneelock of the Circus 🎪!</p>

    <p>With a career spanning many roles, from developer, UX team of one, product manager, analyst, and freelancer, Brian brings an experienced and broad approach to many disciplines. He and his wife Megan’s small business keeps them exhausted and grounded in customer delivery, innovation, and warrantee-voiding laser maintenance. He’s been published in <em>Smashing Magazine</em>, <em>CSS-Tricks</em>, and led workshops at Web Design Day and the Node.js Collaborator Summit. Open source software threads into many aspects of his life, and has opened doors he’d never thought imaginable. It can do that for you too.</p>

    <p>When not writing or working within open source software, Brian lives out programming tropes of drinking coffee and woodworking. He enjoys soccer, playing games with his sons, especially X-Wing or Chess, and never turns down a milkshake. Him and Megan spend as much time outside as they can muster, often playing with their kids, deepening the pickleball rivalry on their makeshift court, chasing clouds, or digging up the yard.</p>

  </div>

  <span id="masthead__last">Muenzenmeyer</span>
  <span id="masthead__first">Brian</span>
  <nav id="masthead__nav">
    {% include "nav.njk" %} 
  </nav>


  
</header>



