---
layout: item.njk
pagination:
    data: content
    size: 1
    alias: page
permalink: "/{{ page.name | slug }}/"
eleventyExcludeFromCollections: true
---
<section>
  <div class="collection__article collection__article--top">
    <h2 class="collection__title white">{{ page.name }}</h2>
    <p class="collection__summary">{{ page.PANTOGRAPH_summary }}</p>
    <ul class="collection__tags">
      <li class="pull--left">
        <relative-time datetime="{{ page.PANTOGRAPH_date }}T12:00:00-06:00">
        {{ page.PANTOGRAPH_date }}
        </relative-time>
      </li>
    {% for tag in page.tags %}
      <li >
        <a class="white" href="/tags/{{tag}}">{{tag}}</a>
      </li>
    {%- endfor -%}
    </ul>
  </div>
</section>

{% markdown %}
    {{- page.desc | safe }}
{% endmarkdown %}
