---
layout: item.njk
pagination:
    data: content
    size: 1
    alias: page
permalink: "/{{ page.name | slug }}/"
eleventyExcludeFromCollections: true
---

<article>

  <h2>{{page.name}}</h2>
  {% markdown %}
      {{- page.desc | safe }}
  {% endmarkdown %}

</article>

<aside class="post-meta">

  <div class="post-date">Date: {{page.PANTOGRAPH_date }}</div>
  <div class="post-tags">Tags: 
  {% for tag in page.tags %}
  <a href="/tags/{{tag}}">{{tag}}</a>
  {% endfor %}
  </div>

</aside>