---
layout: item.njk
pagination:
  data: tags
  size: 1
  alias: tag
  filter:
    - all
permalink: /tags/{{ tag.name }}/
---

 
<h2>Tagged “{{ tag.name }}”</h2>

<ul class="collection"> 

{% for t in tags | reverse %}

  {% if tag.name == t.name  %}
    {% for card in t.cards %}
    <li>
      <a href="../../{{card.name | slug }}">{{ card.name }}  <small>{{ card.PANTOGRAPH_date }}</small></a>
    {% endfor %}
    </li>
  {% endif %}

{% endfor %}

</ul>

