---
layout: 'item.njk'
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---

<h1>Tagged “{{ tag }}”</h1>

{% set taglist = collections[ tag ] %}

<nav>
  <ul class="collection">
    {%- for page in taglist | reverse  -%}
      <li class="collection__item">
        <div class="collection__article">
          <a class="collection__title" href="{{ page.url | url }}">{{ page.data.title }}</a>
          <p class="collection__summary">{{ page.data.summary }}</p>
          <ul class="collection__tags">
            <li class="pull--left">
            <relative-time datetime="{{ page.data.date }}">
            {{ page.data.date }}
            </relative-time>
            </li>
          {% for tag in page.data.tags %}
            <li>
            <a href="/tags/{{tag}}">{{tag}}</a>
            </li>
          {%- endfor -%}
          </ul>
        </div>
      </li>
    {%- endfor -%}

    {% for tag in tags %}
      <li class="black tag__link">All posts tagged <a href="/tags/{{tag.name}}">{{tag.name | toHumanUrl }}</a></li>
    {% endfor %}

  </ul>
</nav>