---
layout: item.njk
---

<article>

  <h2>Thank You</h2>

  <div>Coming to an inbox near you! I'll share updates on the book as I can. In the meantime, check out some of my other <a href="/tags/words">writing</a>.</div>

</article>