---
layout: item.njk
---

<article>

  <h2>Thank You</h2>

  <div>Coming to an inbox near you! I'll share updates on the book as I can.</div>
  
  </article>

  <aside>

  <h3>All posts related to the book</h3>

  <nav>
    <ul class="collection">
      {%- for page in collections.book  -%}
        <li class="collection__item">
          <div class="collection__article">
            <a class="collection__title" href="{{ page.url | url }}">{{ page.data.title }}</a>
            <p class="collection__summary">{{ page.data.summary }}</p>
            <ul class="collection__tags">
              <li class="pull--left">
              <relative-time datetime="{{ page.data.date }}">
              {{ page.data.date }}
              </relative-time>
              </li>
            {% for tag in page.data.tags %}
              <li>
              <a href="/tags/{{tag}}">{{tag}}</a>
              </li>
            {%- endfor -%}
            </ul>
          </div>
        </li>
      {%- endfor -%}

      {% for tag in tags %}
        <li class="black tag__link">All posts tagged <a href="/tags/{{tag.name}}">{{tag.name | toHumanUrl }}</a></li>
      {% endfor %}

    </ul>
  </nav>

</aside> 

