---
layout: item.njk
title: Tot Drop
---

<article>

  <p>The Christmas gift for my brother-in-law that single-handedly ended our yearly gift exchange tradition.</p>

  <iframe src="https://scratch.mit.edu/projects/274061077/embed" allowtransparency="true" width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>

  <aside>

    <p>Object: Collect 30 tots, but avoid the exploding ones!</p>

    <p>To start, click on Weston</p>

    <p>Controls:</p>

    <key>←</key> <key>→</key>

  </aside>

</article>