---
layout: item.njk
title: Versions
---

<p>Cobbled together here is some semblence of a history of this site. Many of the deeper links no longer work, but take in the aesthetic.</p>

<div class="split-list">

  {%- for version in versions -%}

  <div class="card card--version">

    <div class="card__header">
      <h3 class="card__name">
        
        <a href="{{version.url}}" class="card__action">{{ version.name }}.brianmuenzenmeyer.com</a>
      </h3>
      <span class="card__meta">{{ version.date}}</span>
    </div>

    <img src="../img/{{version.image}}" class="card__image"/>

    <p class="card__text">{{version.text}}</p>

    <ul class="card__stats">
    {%- for stat in version.stats -%}
    <li class="card__stat">{{stat|safe}}</li>
    {%- endfor -%}
    </ul>

  </div>

  {%- endfor -%}

</div>
