---
layout: 'layouts/default.hbs'
---

{{> components-header }}    

<main id="container" role="main" class="{{ class }} container--readable">
  <h2 class="item--title">{{ title }}</h2>
  {{{ content }}}
</main>

{{> razzledazzle }}

</body>
</html>
